<%= form.hidden_field :user_role_id %>
<div class="control-group">
  <%= form.label t("user_role_user.user"), :class => "control-label" %>
  <div class="controls">
    <%= form.select :user_id, @users, { include_blank: false } %>
  </div>
</div>